{% extends 'base.html' %}

{% block title %}Theorem Solver - About{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Faster than ChatGPT</h2>
    <p class="text-center">
        This was a project inspired by the course MATH 135 at UW.
        There were many times during this course
        in which I scoured the web for calculators that could verify my work.
        Unfortunately, none stood out to me.
        Hence, armed with the knowledge of the key theorems taught in class,
        I built this project so that other can access this quality-of-life tool. 
    </p>
<div class="row">
{% endblock %}

